.landing-page{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 900px;
    background-size: cover;
}
.developer-section{
    border-radius: 999px;
    background-color: transparent;
    border: 2px solid ;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-color: aliceblue;
    border-width: 2px;
    width: 430px;
    margin-top: 10px;
}
.content{
    color: #ffffff;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 12px 24px;

}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome{
    background-color: grey;
    color: #ffffff;
    border-radius: 5px;
    background-size: contain;
    border-width: 0px;
    font-size: 25px;
    width: fit-content;
    margin-bottom: 0px;
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.greetings{
    color: #ffffff;
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 1;
}
.name{
    color: #777;
    line-height: 1;
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.occupation{
    font-size: 24px;
    font-weight: 400;
    color: #a1a1a1;
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
}
.description{
    font-size: 18px;
    color: #9ca3af;
    font-family: 'Inter', sans-serif;
    padding: 8px;
    line-height: 1.7;
    max-width: 550px;
    margin: auto;
    text-align: center;
}
.btn{
    background-color: #ffffff;
    color: black;
    border-radius: 12px;
    border: 1px solid #ffffff;
    font-size: 18px;
    height: 50px;
    width: auto;
    padding: 0 28px;
    font-family: 'Inter', sans-serif;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.button{
    border: 1px solid lightgray;
    background-color: transparent;
    font-size: 18px;
    border-radius: 12px;
    margin-left: 10px;
    color: lightgray;
    font-family: 'Inter', sans-serif;
    height: 50px;
    width: 12vw;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon{
    padding: 20px;
    padding-top: 0px;
    border-radius: 20px;
    color: #ffffff;
    margin: 0px;
    font-size: 30px;
    gap: 24px;
    margin-top: 40px;
}
.arrow{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    opacity: .6;
}